.progress {
    width: 100%;
    height: 1rem;
    border-radius: 9999px; /* Full round */
    overflow: hidden;
    background-color: #e5e7eb; /* fallback bg */
    accent-color: #458AE7;
  }
  .progress::-moz-progress-bar {
    border-radius: 10px;
    overflow: hidden;
    accent-color: #458AE7;
  }